<form action='/admin/venue/edit' method='post' class='form-horizontal'>
      <input type='hidden' name='venue_id' value='<%= @venue.id %>'>
      <div class='control-group'> 
        <label class='control-label' for='name'>Name</label>
        <div class='controls'>
          <input type='text' id='name' name='name' placeholder='<%= @venue.name %>'>
        </div>
      </div>

      <div class='control-group'> 
        <label class='control-label' for='prependedInput'>Handle</label>
        <div class='controls'>
          <div class='input-prepend'>
            <span class='add-on'>@</span>
              <input type='text' id='prependedInput' name='handle' placeholder='<%= @venue.handle %>'>
          </div>
        </div>
      </div>
    <p><input class='btn btn-large btn-info' type='submit' value='Update'></p>
</form>