<h1>Admin Dashboard</h1>

  <h3><a href='/admin/venue/dashboard'>Venues</a></h3>
  <p>Manage Venue information<p>

  <hr>

  <h3><a href='/admin/liquor/dashboard'>Liquors</a></h3>
  <p>Manage the liquors available to Venues</p>