<div class='alert alert-info'>Tell us where you've moved to.</div>

	<h3><%= firstname %> <%= lastname %> @<%= venue %></h3>

	<form action='/location/confirm' method='post' class="form-horizontal">

  	<p>
  	<select type="text" name='table'>
      <option>Front Covered Patio</option>
      <option>Main Area Near</option>
      <option>Main Area Mid</option>
      <option>Main Area Far</option>
      <option>Washer Pit</option>
      <option>Lawn</option>
      <option>Side Lower Deck</option>
      <option>Side Upper Deck</option>
    </select>
	</p>

  	<p><input class="btn btn-large btn-info" type='submit' value='Confirm Location'></p>
	</form>