<h1>Add a New Liquor to the database</h1>

  <form action='/liquor/add' method='post' class="form-horizontal">
      
    <p>
      <select type="text" name='liquor_type'>
        <option>Gin</option>
        <option>Rum</option>
        <option>Tequila</option>
        <option>Vodka</option>
        <option>Whisky</option>
      </select>
    </p>

    <p>
      <input class="span4" type="text" name='name' placeholder="Name">
    </p>

    <p>
      <input class="span4" type="text" name='description' placeholder="Description">
    </p>

    <p><input class="btn btn-large btn-info" type='submit' value='Add Liquor'></p>
  </form>