<div id='content'>

  <h1>Add a New Venue</h1>

  <form action='/venues/add' method='post' class="form-horizontal">
        
    <p>
      <input class="span12" type="text" name='name' placeholder="Name"
    </p>

    <p>
      <input class="span12" type="text" name='handle' placeholder="Handle">
    </p>

    <p><input class="btn btn-large btn-info" type='submit' value='Add Venue'></p>
  </form>
</div>