<div id="content">
  	<% @orders.each do |order| %>

    <div class="row-fluid" style="background: #A21721; color: white">	
      <div style="padding:25px;" class="span6">
    	 <h1><%= order.drinks %></h1>
      </div>

      <div class="span3 offset3">
        <img style="padding:20px;"src="http://placehold.it/80x80" class="img-circle">
      </div>
    </div>
<br>
    <% end %>

		<script>
      $(document).ready(function() {
      	setTimeout(function() {
        	$('#content').load('/moontower');}, 10000);
      });
    </script>
</div>
