<div class="container-fluid">
	<div class="span12">
	<div class='alert alert-success'>Your check will arrive shortly</div>

		<h3>To check back in, text your venue to 512.861.6050</h3>

		<form action='/orders/drinks' method='post' class="form-horizontal">
		
			<p><input class="btn btn-large btn-info" type='submit' value='Check in'></p>
	
		</form>
	</div>
</div>
