<div class="container-fluid">
	<div class="span12">
    <h2>To order drinks, check in to a venue</h2>

		<form action='/login/form' method='post' class="form-horizontal">
			
      <p><select>
        <option>219West</option>
        <option>CafeJosie</option>
        <option>AbelsontheLake</option>
        <option>Woodrows</option>
        <option>Clarks</option>
      </select></p>

  		<p><input name='<%= @venue %>' class="btn btn-large btn-info" type='submit' value='Checkin'></p>
      </form>
  </div>
</div>