<div class="container-fluid">
	<div class="span12">

		<form action='/confirm' method='post' class="form-horizontal">
  			
			<p><span class="span8 uneditable-input"><%= venue %></span>
				<span class="span4 uneditable-input"><%= table %></span></p>

  			<p><input class="span12" type="text" name='order1' placeholder="ex. 2 Tito's and Sodas with Lime" autofocus></p>

  			<p><input class="span12" type="text" name='order2'></p>

  			<p><input class="span12" type="text" name='order3'></p>

  			<p><input class="span12" type="text" name='order4'></p>

  			<p><input class="span12" type="text" name='order5'></p>

			<p><input class="btn btn-large btn-info" type='submit' value='Send Drink Order'></p>
		</form>
	</div>
</div>
