<div id='content'>
  <h3>Select a venue</h3><hr>
    
      
      <a href="/dockandroll/food/menu">
      <div class="container">    
        <h5>Dock and Roll - Midway</h5>
        <p>1905 S. Capital of Texas Hwy</p>
      </div>
    
    
</div>