<div class="container-fluid">
	<div class="span12">

		<h1><%= venue %></h1>

		<form action='/checkin/attempt' method='post' class="form-horizontal">
			
			

			<p>
			<input class="span12" type="text" name='firstname' placeholder="Firstname" autofocus>
			</p>

			<p>
  			<input class="span12" type="text" name='username' placeholder="Lastname">
  			</p>

  			<p>
  			<div class="input-prepend">
  				<span class="add-on">Table #</span>
  				<input class="span2" id="prependedInput" type="text" name='table' placeholder="4">
			</div>
			</p>

  			<p><input class="btn btn-large btn-info" type='submit' value='Check in'></p>
		</form>
	</div>
</div>
