<div id='content'>

  <div class="menu" style="background-color: #eeeeee; color: #555555;">
  	<h3 class="slide" style="padding-left:10px;"><a href="#" class="toggle-me">Drink Menu</a></h3>

  	<div class="panel" style="display:none;">
     <h4 style="padding-left:10px;">Drink</h4>
     <ul>
     	<li>Beer</li>
     	<li>Wine</li>
     	<li>Vodka</li>
     	<li>Whisky</li>
     	<li>Tequila</li>
     	<li>Rum</li>
     	<li>Gin</li>
     </ul>
   	</div>
  </div>


  <div class="drink">
    <div class="row-fluid" style="background: #555555; color: #f9f9f9">
    	<div style="padding:10px;" class="span12">
    		
        <select>
      		<option>Smirnoff - Well</option>
      		<option>Ketel One</option>
      		<option>Tito's</option>
      		<option>Dripping Springs</option>
      		<option>Deep Eddy</option>
    		</select>

        <br>

    		<select>
      		<option>Cola</option>
      		<option>Diet Cola</option>
      		<option>Cranberry Juice</option>
      		<option>Ginger Ale</option>
      		<option>Ginger Beer</option>
      		<option>Grapefruit Juice</option>
      		<option>Lemon Lime Soda</option>
      		<option>Lemonade</option>
      		<option>Orange Juice</option>
      		<option>Pineapple Juice</option>
      		<option>Red Bull</option>
      		<option>Sugarfree Red Bull</option>
      		<option>Soda</option>
      		<option>Sour Mix</option>
      		<option>Tonic</option>
      		<option>Water</option>
    		</select>

        <br>

    		<select>
      		<option>Cherry</option>
      		<option>Lemon</option>
      		<option>Lime</option>
      		<option>Olive</option>
      		<option>Orange</option>
    		</select>

      </div>
    
    </div>
    <br>
  </div>

  <h3><a href="#" class="add-drink">Add Another</a></h3>

</div>

<script>
	$(document).ready(function() {
    $('.toggle-me').click(function() {
        $('.panel').slideToggle('fast');
    });
    var drink = $('.drink');
    $('.add-drink').click(function() {
      $(drink).clone().insertAfter(drink);
    });
	});


</script>