<div id='content'>

  <div class="menu" style="background-color: #eeeeee; color: #555555;">
    <h3 class="slide" style="padding-left:10px;"><a href="#" class="toggle-me">Drink Menu</a></h3>

     <div class="panel" style="display:none;">
       <h4 style="padding-left:10px;">Drink</h4>
       <ul>
        <li>Beer</li>
        <li>Wine</li>
        <li>Vodka</li>
        <li>Whisky</li>
        <li>Tequila</li>
        <li>Rum</li>
        <li>Gin</li>
       </ul>
     </div>
  </div>

  <ul>
    <li class="dropdown">
      <a href="#"
            style="padding-top: 10px; a: white"
            class="dropdown-toggle"
            data-toggle="dropdown">
            <i class="icon-reorder icon-large"></i>
      </a>
      <ul class="dropdown-menu">
        <li><a href="#" class="add-gin">Gin</a></li>
        <li><a href="#" class="add-rum">Rum</a></li>
        <li><a href="#" class="add-tequila">Tequila</a></li>
        <li><a href="#" class="add-vodka">Vodka</a></li>
      </ul>
    </li>
  </ul>

    <div class="drinks-container"></div>

    <div class="drink-template" style="padding:10px; display: none;">
      <div class="row-fluid" style="background: #555555; color: #f9f9f9">
        
        <form action='/orders' method='post' class="form-horizontal">
          
          <div style="float:left; padding-top:50px; padding-left:10px;"> 
            <input class="input-mini" type="text" id="quantity" value="1">
          </div>
        
          <div style="float:right; padding:10px">      
            
            <p>
              <select class="input-medium">
                  <% @vodkas.each do |vodka| %>
                    <option><%= vodka.name %></option>
                  <% end %>
              </select>
            </p>
            
            <p>
              <select class="input-medium">
                <option>- select mixer -</option>
                <option>* Neat *</option>
                <option>* Rocks *</option>
                <option>* Shot *</option>
                <option>Cola</option>
                <option>Diet Cola</option>
                <option>Cranberry Juice</option>
                <option>Ginger Ale</option>
                <option>Ginger Beer</option>
                <option>Grapefruit Juice</option>
                <option>Lemon Lime Soda</option>
                <option>Lemonade</option>
                <option>Orange Juice</option>
                <option>Pineapple Juice</option>
                <option>Red Bull</option>
                <option>Sugarfree Red Bull</option>
                <option>Soda</option>
                <option>Sour Mix</option>
                <option>Tonic</option>
                <option>Water</option>
              </select>
            </p>
            
            <p>
              <select class="input-medium">
                <option>- select garnish -</option>
                <option>Cherry</option>
                <option>Lemon</option>
                <option>Lime</option>
                <option>Olive</option>
                <option>Orange</option>
              </select>
            </p>

          </div>
        </div>

        <div class="remove" style="margin-top:-30px; margin-left:-10px; color:red;">
          <h3><i class="icon-remove-sign"></i></h3>
        </div>

      </div>

  

  <div style="text-align:center;">
    <h3><a href="#" class="add-drink"><i class="icon-plus-sign icon-large"></i></a></h3>
  </div>

  <br>

  <p><input class="btn btn-large btn-info" style="float:right;" type='submit' value='Send Drink Order'></p>
  </form>

</div>

<script>
  $(document).ready(function() {
    $('.toggle-me').click(function() {
        $('.panel').slideToggle('fast');
    });
 
    $('.add-drink').click(function(e) {
      e.preventDefault();

      $(".drink-template")
        .clone()
        .show()
        .removeClass("drink-template")
        .addClass("drink")
        .appendTo(".drinks-container");
    });
 
    $('.remove').live("click",function() {
      $(this).closest(".drink").remove();
    });
  });


</script>