<div id='content'>

  <h1>Printer Configuration</h1>

  <h3><a href='/mprinter/authorize'>Authorize</a></h3>
  <p><%= session[:mprinter_access_token] %></p>

  <h3><a href='/mprinter/add_device'>Add</a></h3>

  <h3><a href='/mprinter/confirm_device'>Confirm</a></h3>

  <h3><a href='/mprinter/device/status'>Status</a></h3>

  <h3><a href='/mprinter/device/html'>Energize</a></h3>

</div>

