<div class="container-fluid">
	<div class="span12">
    <h2>To order drinks, check in to a venue</h2>

		<form action='/login/form' method='post' class="form-horizontal">
			
      <p><select>
        <option>219 West</option>
        <option>Cafe Josie</option>
        <option>Abels on the Lake</option>
        <option>Woodrows</option>
        <option>Clarks Oyster Bar</option>
      </select></p>

  		<p><input class="btn btn-large btn-info" type='submit' value='Checkin'></p>
</form>