<h2><%= @venue.name %>'s Items</h2>
  <hr>
  <% @item.each do |item| %>
    <div class="item">
      <h3><%= item.name %> - <%= item.price %></h3>
      <p><%= item.description %></p>
    </div>
    <hr>
  <% end %>

<script>

</script>