<h1><%= @venue.name %>'s Items</h1> <br />

        <% @item.each do |item| %>
          <h3><%= item.name %> - <%= item.price %></h3>
          <p><%= item.description %></p>
          <hr>
        <% end %>