<div class='alert alert-info'>Be specific(Draft vs Bottle) so the bartender doesn't totally screw up your drink order.</div>

<h3>@<%= venue %> | <%= table %></h3>

<div class="menu" style="background-color: #eeeeee; color: #555555;">
	<h3 class="slide" style="padding-left:10px;"><a href="#" class="toggle-me">Drink Menu</a></h3>

	<div class="panel" style="display:none;">
   <h4 style="padding-left:10px;">Drafts</h4>
   <ul>
   	<li>Bud Lite</li>
   	<li>Budweiser</li>
   	<li>Miller Lite</li>
   	<li>Pedernales Classic IPA</li>
   	<li>Shiner Bock</li>
    <li>(512) IPA</li>
    <li>Thirsty Planet Thirsty Goat</li>
    <li>Dos XX</li>
    <li>Austin Amber</li>
    <li>Sierra Nevada Pale Ale</li>
    <li>Rahr & Sons Ugly Pug</li>
   	<li>Real Ale Firemans #4</li>
   	<li>Santo</li>
   	<li>Live Oak HefeWeizen</li>
   </ul>
 	</div>
</div>

<form action='/orders' method='post' class="form-horizontal">
  			
	<p><input class="span12" type="text" id="order_drinks" name="order[drinks]" value="<%= @order.drinks %>" placeholder="2 Tito's Sodas with Lime"></p>

	<p><input class="btn btn-large btn-info" type='submit' value='Send Drink Order'></p>
</form>

<script>
	$(document).ready(function() {
    $('.toggle-me').click(function() {
        $('.panel').slideToggle('fast');
    });
	});
</script>
