<div id='content'>
	<h3>Orders</h3><hr>
		<% @orders.each do |order| %>
      <h3>Order <%= order.id %></h3>
      <h4>@venue.name</h4>
      <% end %>
    <hr>
  	<% end %>
		
<script>
  $(document).ready(function() {
  	setTimeout(function() {
    	$('#content').load('/<%= @venue.handle %>/orders');}, 10000);
  });
</script>
</div>
