<h1>All Orders</h1>
<ul>
<% @orders.each do |order| %>
  <li>
    <h3><a href="/orders/<%= order.id %>"><%= order.lastname %></a> @ <%= order.table %><h3>
    <h4><%= order.drinks %></h4>
  </li>
<% end %>
</ul>