<h3>@<%= venue %> | Section <%= location %></h3>

<form action='/orders' method='post' class="form-horizontal">
  			
	<p><input class="span12" type="text" name="order[drinks_1]" value="<%= @order.drinks_1 %>" placeholder="ex. 2 Tito's and Sodas with Lime" autofocus></p>

	<p><input class="btn btn-large btn-info" type='submit' value='Send Drink Order'></p>
</form>
